{% extends "base.html" %}
{% block content %}
<p>Hola, soy Erwin Gonzalez, Venezolano, de profesión Gestor Socio-Cultural. Me interecé por la programación para tener una herramienta útil en el campo laboral de las nuevas tecnologías digitales, para así muy pronto estar creando aplicaciones y paginas web modernas. Acá les muestro mi página web, una tienda de trompetas donde el usuario podra conseguir productos con toda la información disponible.</p>
<button>Mi instagram <a href="https://www.instagram.com/alexcultural/?hl=es"></a> </button>
{% endblock %}